<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wingify - Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    <div class="ui container">
        <h1 style="text-align:center; margin: 10% 0; color: rgb(200, 11, 11)">Error!</h1>
        <h4 style="text-align:center"><%= message %></h4>
    </div>
</body>

</html>