<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wingify Assignment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <h1 style="text-align:center; margin: 10% 0">Wingify Assignment</h1>
        <div class="ui one column stackable center aligned page grid">
                    <form action="/apiCall" method="POST">

                        <select name="country" id="country">
                            <option value="">Country</option>
                            <option value="ar">Argentina</option>
                            <option value="au">Australia</option>
                            <option value="br">Brazil</option>
                            <option value="in">India</option>
                            <option value="us">United States</option>
                        </select>       
                        
                        <select name="category" id="category">
                                <option value="">Category</option>
                                <option value="business">Business</option>
                                <option value="entertainment">Entertainment</option>
                                <option value="health">Health</option>
                                <option value="science">Science</option>
                                <option value="sports">Sports</option>
                                <option value="technology">Technology</option>
                        </select>       
    
                        <input type="text" name="keyword" placeholder="Enter keyword">
                        
                        <button class="ui button">Submit</button>
                    </form>
        </div>
    </div>
</body>
</html>